<div class="container">
    <div class="container fluid">
        <div class="row">
            <div class="form">
                <h1 class="text-center"> Add new Employee </h1>
                <div class="card body">
                    <div class="form group">
                        <label>Name</label>
                        <input type="text" class="form-control" [(ngModel)]="emplyoee.name" name="name"
                            placeholder="Enter full name of the employee" required>
                    </div>
                    <div class="form group">
                        <label>Email</label>
                        <input type="email" class="form-control" [(ngModel)]="emplyoee.email" name="email"
                            placeholder="Enter email of the employee" required>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <!-- <div class="form group">
                        <label>Department</label>
                        <select formControlName="department">
                            <option *ngFor="let department of departments" [ngValue]="department">
                            </option>
                        </select>
                    </div> -->
                    <div class="form group">
                        <label>Department</label>
                        <input type="text" [(ngModel)]="emplyoee.department" class="form-control" name="department"
                            placeholder="Enter department of the employee" required>
                        <small id="emailHelp" class="form-text text-muted">ADMINISTRATION OR PRODUCTION
                            TODO:dropdown</small>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit" (click)="this.registration()">
                <a href="/">Navigate to Home Page</a>
                <h1 class="text center">
                    {{message}}
                </h1>
            </div>
        </div>
    </div>
</div>